[submodule "latexmk"]
	path = latexmk
	url = git@github.com:janmasrovira/latexmk-config.git
[submodule "rofi"]
	path = rofi
	url = git@github.com:janmasrovira/rofi-config.git
[submodule "tmux"]
	path = tmux
	url = git@github.com:janmasrovira/tmux-config.git
[submodule "alacritty"]
	path = alacritty
	url = git@github.com:janmasrovira/alacritty-config.git
[submodule "zathura"]
	path = zathura
	url = git@github.com:janmasrovira/zathura-config.git
[submodule "fish"]
	path = fish
	url = git@github.com:janmasrovira/fish-config.git
[submodule "xmonad"]
	path = xmonad
	url = git@github.com:janmasrovira/xmonad-config.git
[submodule "emacs"]
	path = emacs
	url = git@github.com:janmasrovira/emacs-config.git
[submodule "agda"]
	path = agda
	url = git@github.com:janmasrovira/agda-config.git
[submodule "fonts"]
	path = fonts
	url = git@github.com:janmasrovira/fonts.git
[submodule "polybar"]
	path = polybar
	url = git@github.com:janmasrovira/polybar-config.git
[submodule "mpv"]
	path = mpv
	url = git@github.com:janmasrovira/mpv-config.git
[submodule "starship"]
	path = starship
	url = git@github.com:janmasrovira/starship-config.git
[submodule "bat"]
	path = bat
	url = git@github.com:janmasrovira/bat-config.git
[submodule "git"]
	path = git
	url = git@github.com:janmasrovira/git-config.git
[submodule "aspell"]
	path = aspell
	url = git@github.com:janmasrovira/aspell-config.git
[submodule "stack"]
	path = stack
	url = git@github.com:janmasrovira/stack-config.git
[submodule "paru"]
	path = paru
	url = git@github.com:janmasrovira/paru-config.git
[submodule "flameshot"]
	path = flameshot
	url = git@github.com:janmasrovira/flameshot-config.git
[submodule "stow"]
	path = stow
	url = git@github.com:janmasrovira/stow-config.git
[submodule "doom"]
	path = doom
	url = git@github.com:janmasrovira/emacs-doom-config.git
[submodule "chemacs"]
	path = chemacs
	url = git@github.com:janmasrovira/chemacs-config.git
[submodule "atuin"]
	path = atuin
	url = git@github.com:janmasrovira/atuin-config.git
[submodule "easyeffects"]
	path = easyeffects
	url = git@github.com:janmasrovira/easyeffects-config.git
[submodule "zellij"]
	path = zellij
	url = git@github.com:janmasrovira/zellij-config.git
[submodule "qobuz-dl"]
	path = qobuz-dl
	url = git@github.com:janmasrovira/qobuz-dl-config.git
[submodule "btop"]
	path = btop
	url = git@github.com:janmasrovira/btop-config.git
[submodule "mpd"]
	path = mpd
	url = git@github.com:janmasrovira/mpd-config.git
