[submodule "latexmk"]
	path = latexmk
	url = git@gitlab.com:janmasrovira/latexmk-config.git
[submodule "rofi"]
	path = rofi
	url = git@gitlab.com:janmasrovira/rofi-config.git
[submodule "tmux"]
	path = tmux
	url = git@gitlab.com:janmasrovira/tmux-config.git
[submodule "alacritty"]
	path = alacritty
	url = git@gitlab.com:janmasrovira/alacritty-config.git
[submodule "zathura"]
	path = zathura
	url = git@gitlab.com:janmasrovira/zathura-config.git
[submodule "fish"]
	path = fish
	url = git@gitlab.com:janmasrovira/fish-config.git
[submodule "xmonad"]
	path = xmonad
	url = git@gitlab.com:janmasrovira/xmonad-config.git
[submodule "emacs"]
	path = emacs
	url = git@gitlab.com:janmasrovira/emacs-config.git
[submodule "agda"]
	path = agda
	url = git@gitlab.com:janmasrovira/agda-config.git
[submodule "fonts"]
	path = fonts
	url = git@gitlab.com:janmasrovira/fonts.git
[submodule "polybar"]
	path = polybar
	url = git@gitlab.com:janmasrovira/polybar-config.git
[submodule "mpv"]
	path = mpv
	url = git@gitlab.com:janmasrovira/mpv-config.git
[submodule "starship"]
	path = starship
	url = git@gitlab.com:janmasrovira/starship-config.git
[submodule "bat"]
	path = bat
	url = git@gitlab.com:janmasrovira/bat-config.git
[submodule "isync"]
	path = isync
	url = git@gitlab.com:janmasrovira/isync-config.git
[submodule "git"]
	path = git
	url = git@gitlab.com:janmasrovira/git-config.git
[submodule "aspell"]
	path = aspell
	url = git@gitlab.com:janmasrovira/aspell-config.git
