[submodule "latexmk"]
	path = latexmk
	url = git@gitlab.com:janmasrovira/latexmk-config.git
[submodule "rofi"]
	path = rofi
	url = git@gitlab.com:janmasrovira/rofi-config.git
[submodule "tmux"]
	path = tmux
	url = git@gitlab.com:janmasrovira/tmux-config.git
